@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.header {
    background: linear-gradient(
        rgba(29,30,35,0.8),
        rgba(29,30,35,0.8)),
        url(/img/tapa.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;  /*80*/
    padding: 80px 0 0 0;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    max-width: 120px;
    max-height: 100px;
    margin: 40px;
    
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 25px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: 600px;
}
.menu .navbar ul li a:hover  {
    color: #f56349;
}
#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}
/*#menu:checked ~ .navbar {
    display: initial;
}*/
.header-txt {
    text-align: center;
    padding: 0 200px;
}
.header-txt h1 {
    font-size: 65px;
    line-height: 1;
    color: #f3ad18e4;
    font-family: 'bebas Neue' ,sans-serif;    
}
p {
    font-size: 18px;
    color: #d4d4d4;
    margin-bottom: 35px;
}
.btn-0 {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: linear-gradient(
        90deg,
        rgba(245,99,72,1) 0%,
        rgba(254,140,32,1) 100%
    );
    border-radius: 5px;
}
.about {
    background-color: #191a1f;
    padding: 50px 0;
    width: 100%; 
    height: 650px;    
}
.about-content {
    display: flex;
    flex-direction: row;
    
}
.about-txt {    
    flex-basis: 80%;
    padding-right: 35px;
    margin-top: 60px;
}
.about-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 60px;

} 
.about-video iframe { 
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
span {
    font-size: 14px;
    text-transform:  uppercase;
    color: #f3ad18e4;
}
h2 {
    font-size: 35px;
    color: #ffffff;
    margin: 15px 0;
    line-height: 1;
}
hr {
    border: 1px solid #f56349;
    width: 10%;
    margin-bottom: 30px;
}
.about-img {
    flex-basis: 50%;
}
.horarios {
    color: #ff783b;
}
.about-img img {
    border-radius: 10px;
}
/*------------ servicios ---------*/
.servicio {
    background: linear-gradient(45deg, #f56349,#f3ad18e4);
    padding: 20px 10px;
    padding-bottom: 0 5px;
    
}
.servicio h2 {
    text-align: center;
    padding-bottom: 15px;
    margin: 10px;
    color: #ffffff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 40px;
}
.servicio .servicio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));    
    gap: 15px;
    width: 90%;
}
.servicio .servicio-content .servicio-1 {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
    transition: all 400ms ease;
    overflow: hidden;
    height: 450px;
    /*grid-auto-flow: dense;*/  
}
.servicio .servicio-content .servicio-1:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.servicio .servicio-content .servicio-1 img {
    height: 200px;
}

.servicio .servicio-content .servicio-1 h4 {
    color: #444;
    font-size: 22px;
    padding: 10px 0;
}
.servicio .servicio-content .servicio-1 p {
    color: #777;
    font-size: 14px;
    line-height: 1.8;
}
button {
    width: 200px;
}
.btn-1, .btn-2, .btn-3, .btn-4, .btn-5, .btn-6 {    
    padding: 20px 15px;
    background: #ff783b;
    border: 2px solid #f56349;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.btn-1::before,
.btn-2::before, 
.btn-3::before, 
.btn-4::before, 
.btn-5::before, 
.btn-6::before {
    content: 'Horarios';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    /*font-weight: 700;*/
    /*text-shadow: 2px 2px 2px #333;*/
    transition: .2s ease;    
}
.btn-1:hover::before,
.btn-2:hover::before,
.btn-3:hover::before,
.btn-4:hover::before,
.btn-5:hover::before,
.btn-6:hover::before {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
}
.btn-1:hover::after,
.btn-2:hover::after,
.btn-3:hover::after,
.btn-4:hover::after,
.btn-5:hover::after,
.btn-6:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.btn-1::after {
    content: 'mar, jue y vie 10, 15 y 19hs';
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    /*font-weight: 700;
    text-shadow: 2px 2px 2px #333;
    transition: .2s ease;*/
    opacity: 0;
}

.btn-2::after {
    content: 'mar, jue y sab 9, 11, 18 y 21hs';
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    /*font-weight: 700;
    text-shadow: 2px 2px 2px #333;
    transition: .2s ease;*/
    opacity: 0;
}

.btn-3::after {
    content: 'lun, mie y sab 13, 17, 20 y 22hs';
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    /*font-weight: 700;
    text-shadow: 2px 2px 2px #333;
    transition: .2s ease;*/
    opacity: 0;
}

.btn-4::after {
    content: 'mar, jue y sab 10, 13, 18 y 20hs';
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    /*font-weight: 700;
    text-shadow: 2px 2px 2px #333;
    transition: .2s ease;*/
    opacity: 0;
}

.btn-5::after {
    content: ' Lun, mie y vie 9, 13 y 18hs';
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    /*font-weight: 700;
    text-shadow: 2px 2px 2px #333;
    transition: .2s ease;*/
    opacity: 0;
}

.btn-6::after {
    content: 'Pase Libre';
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    /*font-weight: 700;
    text-shadow: 2px 2px 2px #333;
    transition: .2s ease;*/
    opacity: 0;
}

/*-------------testimonial--------------*/
.testimonial {
    padding: 100px 0;
    background-color: #191a1f;
    text-align: center;    
}
.testimonial-content {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.testimonial-1 {
    flex-basis:  calc(50% - 25px);
    background-color: #24272e;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.testimonial-1 h4 {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 15px;
}
.testimonial-1 p {
    font-size: 15px;
    margin-bottom: 10px;
}
.face {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid #f56349;
    margin-bottom: 15px;
}
.start {
    width: 200px;
}
.link a:hover {
    color: #ff783b; /*#f56349;*/
}
/* sucursales          */
.sucursales {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ff783b;
    width: 100%;
    padding: 30px 30px 40px 30px;
    gap: 20px;
    height: 9%;
}
.sucursal {
    grid-column: 1 / span 3 ;
    grid-row: 1;
    justify-self: center;
}

.palermo {
    grid-row-start: span1;
    color: #000;
    text-align: center;
    font-size: 20px;
}
.palermo p {
    color: #191a1f;
    font-size: 18px;
}
.palermo iframe {
    border-radius: 10px;
}
.devoto {    
    grid-row: 2;
    color: #000;
    text-align: center;
    font-size: 20px;
}
.devoto p {
    color: #191a1f;
    font-size: 18px;
}
.devoto iframe {
    border-radius: 10px;
}
.caballito {    
    grid-row-end: 3;
    color: #000;
    text-align: center;
    font-size: 20px;    
}
.caballito p {
    color: #191a1f;
    font-size: 18px;
}
.caballito iframe {
    border-radius: 10px;
}

/*--------- contacto-----*/
.contact {    
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ),
    url(/img/amigos.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size:  cover;
    display: flex;
    height: 600px;
}
.contact-content {
    text-align: center;
    width: 65%;  
    margin-top: 250px;
}
.form {
    width: 35%;
    background-color: transparent;  
    color: #fff;     
    margin: 40px;
}
.img_contacto{
    display: flex;
}
.img {
    justify-content: start;
    width: 150px;
}
#nombre, #apellido, #correo, #sucursal, #comentario{
    width: 100%;
    color: #fff;
    background-color: #444;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #777;
}
#nombre, #apellido, #correo, #sucursal, #comentario, #permiso {
    font-family: roboto, sans-serif;
    font-size: 12px;
}
fieldset {
    border: none;
}
.button {
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(245,99,72,1) 0%,
        rgba(254,140,32,1) 100%
    );
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #fff;
    margin: 15px 0;
    font-size: 15px; 
}
.button:hover {
    background-color: #ff783b;
}

/*-------- FOOTER---------*/
.footer {
    padding: 40px 0 10px;
    background-color: #000;
    height: 200px;
}
.footer-content {
    display: flex;
    justify-content: space-between
}
.link h3 {
    font-size: 17px;
    color: #ffffff;
    margin-bottom: 10px ;
    text-transform: uppercase;
}
.link  a {
    font-size: 17px;
    color: #d4d4d4;
    display: block;
    margin-bottom: 10px;
}
.link a:hover {
    color: #f56349;
}
.link-redes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
.footer-copy {
    text-align: center;
    padding-top: 15px;
}
/* -------- media queries -------*/
@media screen and (max-width: 750px) {
    .logo {
        display: none;
    }
    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: inherit;
        background-color: #ff783b;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    .menu .navbar ul li a:hover {
        color: #191a1f;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
    .header {
        min-height: 40vh; /* ver valores*/
        padding: 180px 30px;
    }
    .header-txt {
        text-align: center;
        padding: 0;
    }
    .about {
        height: 900px;
    }
    .about-txt{
        margin: 0px;
    }
    .about-video iframe {
        height: 400px;
        padding: 20px;
        margin: 0;
    }
    .about-content {
        flex-direction: column;
        padding: 15px;        
    }
    .testimonial {
        padding: 30px;
    }
    .testimonial-content {
        flex-direction: column;
    }
    .testimonial-1 {
        margin-bottom: 30px;
    }
    .sucursales {
        display: flex;
        flex-direction: column;
    }
    .sucursal {
        text-align: center;
    }
    .palermo iframe {
        width: 100%;
    }
    .caballito iframe {
        width: 100%;
    }
    .devoto iframe {
        width: 100%;
    }
    .contact {
        flex-direction: column;
        height: 850px;
    }
    .contact-content {
        width: 100%;
        margin: 20px 0px 0px 0;
        padding: 0 20px;
    }
    .form {
        width: 80%;
    }
    .footer {
        padding: 30px;
        height: auto;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;        
    }
    .footer .link-redes {
        justify-content:  center;
    }
    .footer .links {
        padding: 20px;
    }
}
@media screen and (min-width: 750px) and (max-width: 1400px) {
    .about {
        padding: 0 30px 0 30px;
    } 
    .palermo iframe {
        width: 100%;
    }
    .caballito iframe {
        width: 100%;
    }
    .devoto iframe {
        width: 100%;
    }
}
